---
import { readdir } from 'node:fs/promises'
import MainLayout from "@layouts/main-layout.astro";

async function getAllPaths(dir: string) {
  let files = []
  const entries = await readdir(dir, { withFileTypes: true})
  for (const entry of entries) {
    if(entry.isDirectory()) {
      const deepDir = await getAllPaths(`${dir}/${entry.name}`)
      files = [...files,...deepDir]
    } else {
      files.push(`${dir}/${entry.name}`)
    }
  }
  return files
}

const dirURL = 'public/galery'
const allImages = (await getAllPaths(dirURL)).map(imgUrl => imgUrl.split('public')[1])
const entries = await readdir(dirURL)
const allPathImages = entries.map(entry => {
  return {
    paths: allImages.filter(img => img.includes(entry)),
    title: entry.replace('-', ' ')
  }
}).reverse() 


const content = { 
  title: 'Galeria',
  description: 'Nuestra galeria de trabajos',
  image: '/assets/images/chevron.webp'
}
---
<MainLayout hideRightSidebar {content}>
  <div class="px-4 md:px-0 mt-8">
    <h1 class="text-center">Galeria</h1>
    <p class="max-w-5xl">
      Con dedicación, esfuerzo y buen desempeño, hemos desarrollado a lo largo de los años diversas soluciones para nuestros clientes.
      A continuación, queremos enseñarles algo de lo que hemos hecho:
    </p>
    {allPathImages.map(({paths, title}) => {
      return (
        <h2 class="uppercase text-2xl">Señales {title}</h2>
        <div class="flex overflow-x-scroll gap-4">
          {paths.map(path => {
              const index = path.lastIndexOf('/')
              const alt = path.substring(index + 1, path.length).replace('.webp', '')
              console.log('alt', alt)
              return(
          <img src={path} width="300" height="auto" loading="lazy" alt={alt} />
          )}
            )}
        </div>
      )
    })}
  </div>


</MainLayout>
